html {
    text-align: center;
    background-color: #366834;
    user-select: none;
    font-family: serif;
    font-weight: bolder;
}

body {
    margin: 0px;
}

header {
    border-bottom: 2px solid #000;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    background-color: #96a677;
}

h1 {
    margin: 0px;

}

#login {
    margin: auto;
    width: 90%;
    max-width: 385px;
    border: 5px solid #033534;
    background-color: #0d7e8c;
    padding: 45px;
    border-radius: 5px;
    text-align: center;
}

.flex {
    display: flex;
    position: relative;
    width: 1415px;
    margin: auto;
}

#statDisplay {
    position: absolute;
    left: 1190px;
    background-color: #0d7e8c94;
    padding: 5px;
    border: 3px solid #033534;
    border-radius: 15px;
}

#heroList {
    height: 700px;
    width: 115px;
    border: 5px solid #033534;
    border-radius: 15px;
    background-color: #0d7e8c;
    padding: 5px;
    position: relative;
}

#endTurn {
    position: absolute;
    bottom: 0;
    padding: 5px;
    left: 1285px;
    width: 85px;
    height: 20px;
    font-size: 20px;
    background-color: #0d7e8c;
    color: #033534;
    border: 5px solid #033534;
    border-radius: 5px;
}

.heroIcon {
    border: 5px solid black;
    width: 64px;
    height: 64px;
    position: relative;
    top: -150px;
    margin: 2px;
}

.selectedHero {
    border: 5px solid #bfe3a5;
}

.vertical {
    transform: rotate(90deg);
    font-size: 50px;
    text-align: center;
    letter-spacing: 30px;
    color: #033534;
    position: relative;
    top: 5px;
    left: 40px;
}

.text-input {
    font-size: 30px;
    margin: 5px;
    width: 100%;
    text-align: center;
    background-color: #033534;
    border: 1px solid #bfe3a5;
    color: #fff;
}

.text-input::placeholder {
    color: #0d7e8c;
}

.btn {
    margin: 10px;
    background-color: #0d7e8c;
    border: 3px solid #033534;
    color: #033534;
    font-size: 20px;
    cursor: pointer;
}

.secondary {
    background: none;
    text-decoration: underline;
    border: none;
}

.hidden {
    display: none;
}
